body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  color: #767676;
}

table.table-striped {
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  color: #767676;
}

th {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  /*background-color: #f9f9f9;*/
}

th, td {
  min-width: 100px;
  padding: 10px 20px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

.color-blue {
  color: #f55b5b;
}

h1.page-header {
  font-size: 18px;
}
